############################
# IDE / Editors
############################

.idea/
*.iml
*.iws
.vscode/

############################
# OS / System
############################

.DS_Store
Thumbs.db

############################
# Logs
############################

*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

############################
# Node.js
############################

node_modules/
bower_components/

############################
# Environment variables
############################

.env
.env.*
!.env.example

############################
# Build / Runtime
############################

build/
dist/
coverage/

############################
# SQLite / Databases
############################

*.db
*.sqlite
*.sqlite3

# если нужен конкретный файл:
# !quotes.db

############################
# Temp / Cache
############################

tmp/
temp/
.cache/

############################
# Husky
############################

.husky/_

############################
# Misc
############################

src/www/